extends /_layout

block content
  .jumbotron.jumbotron-full
    .container
      h1 401
      p You're not authorized to view this page.
      .row
        .col-sm-3
          a.btn.btn-success.btn-block.btn-lg(href='/') Home