extends /_layout

block content
  .container
    h1 Admin
    p Please do not clear your cookies to keep access
    #adminApp
      p Game Pin: {{ gamePin }}
      p {{ connections }} connections
      p(v-if="this.state === 'DELETED'") Your game has expired. Please return to the homepage.
      button.btn.btn-primary(
        v-if="this.state === 'LOBBY'"
        v-on:click="start"
      ) Start
      button.btn.btn-primary(
        v-if="this.state === 'SHOW'"
        v-on:click="newElement"
      ) New Element
      button.btn.btn-primary(
        v-if="this.state === 'GAME'"
        v-on:click="show"
      ) Show Element Name
      button.btn.btn-danger(
        v-if="this.state === 'SHOW'"
        v-on:click="end"
      ) End
      br
      p {{ element.atomicNumber }}
      p {{ element.name }}
      p {{ element.symbol }}

block scripts
  script(src="/js/admin.js")