extends /_layout

block content
  .container
    h1 Element Bee
    #elementApp
      p(v-if="this.state === 'LOBBY'") {{ message }}
      p(v-if="this.state === 'DELETED'") {{ message }}
      h1(v-if="this.state === 'GAME'") {{ element.symbol }}
      div(v-if="this.state === 'SHOW'")
        p {{ element.atomicNumber }}
        p {{ element.name }}
        p {{ element.symbol }}
    
block scripts
  script(src='/js/home.js')