extends /_layout

block content
  .jumbotron.jumbotron-full
    .container
      #elementApp
        h1#main-header(v-bind:class=`{
          'in-game': this.state !== 'LOBBY'
        }`) Element Bee
        p(v-if="this.state === 'LOBBY'") {{ message }}
        .flex-center
          div(v-if="this.state === 'GAME'")
            h1#element {{ element.symbol }}
            br
            h2.text-center {{ element.symbol }}
          #element-info(v-if="this.state === 'SHOW'")
            p {{ element.atomicNumber }}
            p {{ element.name }}
            p {{ element.symbol }}
      
block scripts
  script(src='/js/game.js')
